body {

    background: linear-gradient(180deg, rgba(255,200,73,1) 0%, rgba(255,228,188,1) 100%);
    background-attachment: fixed;
    overflow: hidden;

}

.page {

    margin: auto;

    width: 750px;
    height: 450px;

}

img {
    
    width: 220px;

    display: block;
    margin-top: 35%;
    margin-left: auto;
    margin-right: auto;
    
    transition:  ease-in-out 2s;
}

img:hover {

    transform: scale(1.1);

}